$duration:      (
                    instant: 0.098s,
                    short: 0.131s,
                    regular: 0.175s,
                    long: 0.233s,
                    extra: 0.311s
                );