@use "vendor/normalize";
@use "config";
@use "colors/base";
@use "colors/light";
@use "utils/mixins" as *;
@use "utils/functions" as *;
@use "duration";

:root {
    @include set-css-vars-from-map(duration, duration.$duration);
}

body {
    font-family: "Montserrat", sans-serif;
    font-size:   14px;
    font-weight: 400;
    margin:      0;
    padding:     0;
    color:       getCssVarValue(text, color, base);
}